AL-Tools/phpTools/readMe/pet_merchant.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
    <xs:element name="merchants">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="merchant" type="merch" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="merch">
        <xs:attribute name="id" type="xs:short"/>
        <xs:attribute name="rate_price" type="xs:int"/>
    </xs:complexType>
</xs:schema>
